
{% extends "layout.html" %}

{% block pageTitle %}
Step 1 - Saleem - Accessibility personas - GOV.UK
{% endblock %}

{% block content %}

<script src="/public/javascripts/translate-to-piglatin.user.js" type="text/javascript" async=""></script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">When to submit your application</h1>
      <p>We must receive your completed application form on or before the 15th day of the second month following the month you are reporting if you do not submit your application electronically or the 25th day of the second month following the month you are reporting if you submit your application electronically.</p>

      <h2 class="govuk-heading-m">Guide Dogs for the Blind</h2>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/F3Z9zOqtckg?mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      <form class="govuk-!-margin-top-6" action="step-two.html" method="get">

        <button class="govuk-button" data-module="govuk-button">Continue</button>

     </form>

    </div>
  </div>

{% endblock %}
