
{% extends "layout.html" %}

{% block pageTitle %}
Step 2 - Saleem - Accessibility personas - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Task complete</h1>
      <p>You have completed the first task for Saleem.</p>

      <h2 class="govuk-heading-m">Thoughts</h2>

      <p>How did you find this task?</p>

      <p>Did you have any difficulties in completing it?</p>
      
      <p>How could the service be improved for Saleem?</p>

      <p><a href="step-three" class="govuk-button" data-module="govuk-button">Start improved task</a></p>
      <p><a href="../" class="govuk-link" >Return to start page</a></p>

    </div>
  </div>

{% endblock %}
