
{% extends "layout.html" %}

{% block pageTitle %}
Step 3 Failed - Ron - Accessibility personas - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "step-three.html"
  }) }}
{% endblock %}

{% block content %}

<!-- <link href="/public/css/light-blur.user.css" rel="stylesheet" media="all">
<script src="/public/javascripts/wobbly-mouse.user.js" type="text/javascript" async=""></script> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Fail</h1>

      <p>That did not seem to have worked.</p>

      <form action="step-four.html" method="get">

        <button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">Continue</button>

     </form>

    </div>
  </div>

{% endblock %}
