
{% extends "layout.html" %}

{% block pageTitle %}
Step 3 - Ron - Accessibility personas - GOV.UK
{% endblock %}

{% block content %}

<link href="/public/css/light-blur.user.css" rel="stylesheet" media="all">
<script src="/public/javascripts/wobbly-mouse.user.js" type="text/javascript" async=""></script>

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Who runs government</h1>


      <div class="govuk-panel govuk-panel--confirmation">
        <div class="govuk-panel__body">
          In the UK, the Prime Minister leads the government with the support of the Cabinet and ministers.
        </div>
      </div>
      <h3>The Prime Minister</h3>
      <p>The Prime Minister is head of the UK government. They are ultimately responsible for all policy and decisions. They:
      <ul class="govuk-list govuk-list--bullet">
            <li>oversee the operation of the Civil Service and government agencies</li>
            <li>appoint members of the government</li>
            <li>are the principal government figure in the House of Commons</li>
      </ul>
      <h3>The Cabinet</h3>
      <p>The Cabinet is made up of the senior members of government. Every week during Parliament, members of the Cabinet (Secretaries of State from all departments and some other ministers) meet to discuss the most important issues for the government.</p>

      <h3>Ministers</h3>
      <p class="govuk-!-margin-bottom-1">1 Prime Minister</p>
      <p class="govuk-!-margin-bottom-1">+ 20 Cabinet ministers</p>
      <p class="govuk-!-margin-bottom-1">+ 97 Other ministers</p>
      <p>= 118 Total ministers</p>
      
      <h2 class="govuk-heading-m">More information</h2>

      <p>Select page 2 from the links below</p>

      <div class="pagination good">
        <a href="step-four?page=1" class="current">1</a>
        <a href="step-four?page=2">2</a>
        <a href="step-four?page=3">3</a>
        <a href="step-four?page=4">4</a>
      </div>

    </div>
  </div>

{% endblock %}
