
{% extends "layout.html" %}

{% block pageTitle %}
  Chris - Accessibility personas - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Chris</h1>
      <img class="govuk-body govuk-!-margin-bottom-6" src="/public/images/chris.png" alt="chris's profile picture" style="max-width: 150px;" />

      <blockquote class="govuk-body hmrc-eh-quote hmrc-eh-quote--chris">
        I’m training my software to understand my voice commands. In the meantime, I’ll carry on using a keyboard to get around websites as it’s less painful than a mouse.
       </blockquote>

      <h2 class="govuk-heading-m">About Chris</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><p>53 year old management accountant</p></li>
        <li><p>Rheumatoid arthritis</p></li>
        <li><p>Uses keyboard only, no mouse and just started using voice control</p></li>
      </ul>

      <h3 class="govuk-heading-m">Frustrations</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><p>Gets annoyed when he can’t use parts of a website with a keyboard, like video players and navigation menus.</p></li>
        <li><p>Takes him a while to fill out forms and hates it when they time out without much warning.</p></li>
        <li><p>Wastes a lot of time trying to tab through things like navigation menus.</p></li>
        <li><p>Sometimes has problems with pop-up boxes.</p></li>
      </ul>
      
      <h2 class="govuk-heading-m">Required assistive technology</h2>

      <p>Use your computer's built-in Voice control.</p>

      <p>Navigate with the keyboard:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>press ‘Tab’ to go to the next link or form element</li>
        <li>press ‘Shift + Tab’ to go back to the previous link or form element</li>
        <li>press arrow keys to move between radio buttons</li>
        <li>press ‘Space’ to select radio button or checkbox</li>
        <li>press ‘Enter’ to follow a link or submit a form</li>
        <li>press ‘Esc’ to close things</li>
      </ul>

      <h2 class="govuk-heading-m">Task</h2>

      <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-6">
        <li>Read the text on the following page.</li>
        <li>Use the question mark to find out what the explanation is.</li>
        <li>Fill in the form on the same page and submit your answers.</li>
      </ol>
      
      <p><a class="govuk-button" data-module="govuk-button" href="task/step-one.html">Start task</a></p>
    </div>
  </div>

{% endblock %}
